cloudpickle==3.1.0
contourpy==1.3.1
cycler==0.12.1
decorator==5.1.1
Farama-Notifications==0.0.4
filelock==3.16.1
fonttools==4.55.3
fsspec==2024.10.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==1.0.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
Jinja2==3.1.4
kiwisolver==1.4.7
MarkupSafe==3.0.2
matplotlib==3.10.0
moviepy==2.1.1
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
packaging==24.2
pandas==2.2.3
pillow==10.4.0
proglog==0.1.10
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
setuptools==75.6.0
Shimmy==2.0.0
six==1.17.0
stable_baselines3==2.4.0
sympy==1.13.3
torch==2.2.2
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.2
